


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@media (max-width:1600px){
#private{
     width:60%;position: absolute;top:90px;transform:translate(-50%);left:50%;
}
}
@media (max-width:700px){
    #private{
        width:100%;position: absolute;top:90px;transform:translate(-50%);left:50%;
   } 
}
#private{
    font-family: "Poppins",sans-serif;
}
h1{
     color:#ff5757;
}
h2{
     color:rgb(45, 255, 45);
}